
body{
  font-family:'Montserrat', sans-serif
}
  #title{
    font-size: 4em
  }
  #word{
    font-size:3em;
  }
  #generate{
    padding: 10rem;
    font-size:3em;
    float:bottom;
    background-color:#F9844A;
    font-family:'Montserrat', sans-serif
  }